<footer class="footer">
  <div class="container">
      <p class="has-text-centered mb-1">Built by Jamie Bowman on behalf of 
        <a href="https://london.ac.uk/press">University of London Press</a>
        with data from <a href="https://consonance.app">Consonance</a>
      </p>
      <p class="has-text-centered">Content © author(s) unless otherwise specified</p>
      <div class="columns mt-6">
        <div class="column menu is-half site-links pl-6">
          <p>Site contents</p>
          <ul class="menu-list mt-3">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/introduction">Contents</a></li>
            <li><a href="/artificialia">Artificialia</a></li>
            <li><a href="/naturalia">Naturalia</a></li>
            <li><a href="/about/authors">Authors</a></li>
            <li><a href="/about/tags">Tags</a></li>
          </ul>
        </div>
        <div class="column is-half logos">
          <div><img src="" alt="publisher-logo"></div>
          <div><img src="" alt="imprint-logo"></div>
          <div><img src="" alt="project-logo"></div>
        </div>
      </div>
  </div>
</footer>
