{% if page.hero %}
<header class="title-banner hero banner is-medium has-text-light"
        style="background-image: linear-gradient(45deg, rgba(145, 146, 122, 0.22),
                                 rgba(91, 217, 200, 0.18)),
                                  url('{{ site.baseurl }}/content/images/{{ page.hero }}.jpg');">
{% else %}
<header class="title-banner hero banner is-medium has-text-light"
        style="background-image: linear-gradient(45deg, rgba(145, 146, 122, 0.22),
                                 rgba(91, 217, 200, 0.18));">
{% endif %}
  <div class="hero-head">
    {% include navigation.html %}
  </div>
  <div class="hero-body">
    <div class="container px-5">
      <h1 class="title is-1 has-text-light">
        {{ page.title }}
      </h1>
      {% if page.author %}
      <h2 class="title is-4 has-text-light">
        <em>by <a class="has-text-white" href="/about/authors#{{ page.author | slugify }}">{{ page.author }}</a></em>
      </h2>
      {% endif %}
      {% if page.subtitle %}
      <p class="title is-4 has-text-light">
        <em>{{ page.subtitle }}</em>
      </p>
      {% endif %}
      {% if page.tags %}
        <div class="tags">
          {% assign tags = page.tags | sort %}
          {% for tag in tags %}
            <span class="tag is-medium is-uppercase is-size-6"><a href="{{ site.baseurl }}/about/tags#{{ tag }}">{{ tag }}</a></span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="hero-foot">
  </div>
</header>
