<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img alt="NWO" src="" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-uppercase is-size-6" href="/about">
        About
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-uppercase is-size-6" href="/artificialia">
          Artificialia
        </a>
        <div class="navbar-dropdown">
          {% for chapter in site.artificialia %}
            <a class="navbar-item" href="{{ chapter.url }}">{{ chapter.title }} | <em style="margin-left:0.2em;">{{ chapter.author }}</em></a>
           {% endfor %}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-uppercase is-size-6" href="/naturalia">
          Naturalia
        </a>
        <div class="navbar-dropdown">
          {% for chapter in site.naturalia %}
            <a class="navbar-item" href="{{ chapter.url }}">{{ chapter.title }} | <em style="margin-left:0.2em;">{{ chapter.author }}</em></a>
           {% endfor %}
        </div>
      </div>
      
        <div class="navbar-item">
          <a class="button is-primary">
            <strong>Buy the book</strong>
          </a>
        </div>

      </div>
    </div>
  </div>
</nav>
