<section class="section project-description has-background-light">
  <div class="container is-size-5 py-5">
  <div class="block">
    <p>From the late fifteenth century to the present day, the New World has been plundered and pilfered for its many
      ‘treasures’ and ‘wonders’ and as a consequence, many of its natural and cultural productions have been scattered
      around the world, often hidden in libraries, museums and private collections. <em>New World Objects of Knowledge: A
      Cabinet of Curiosities</em> gathers a fascinating sampling of these scattered objects in forty richly illustrated essays
      written by world-leading scholars in the field. We discover the secret, often global, itineraries of such things as
      Aztec codices and Inca mummies, colonial paintings and indigenous maps, giant tortoises and precious hummingbirds.
    </p>
  </div>
  <p class="has-text-right"><a href="/about">Read more about the project</a></p>
  </div>
</section>
