<div class="level py-6">
  <div class="level-item has-text-centered">
    <div>
    <p class="title">2</p>
    <p class="heading">Parts</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title">40</p>
      <p class="heading">Chapters</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
    <p class="title">XX</p>
    <p class="heading">Contributors</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
    <p class="title">XX</p>
    <p class="heading">Illustrations</p>
    </div>
  </div>
</div>
