<div class="level py-6 has-background-primary">
  <div class="level-item has-text-centered">
    <div>
    <p class="title is-size-2">2</p>
    <p class="heading is-size-6">Parts</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-size-2">40</p>
      <p class="heading is-size-6">Chapters</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
    <p class="title is-size-2">XX</p>
    <p class="heading is-size-6">Contributors</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
    <p class="title is-size-2">XX</p>
    <p class="heading is-size-6">Illustrations</p>
    </div>
  </div>
</div>
