<section class="section first-level-toc has-text-centered has-background-primary">
  <div class="columns">
    <div class="column is-third">
      <a href="/introduction">
        <article>
          <h1 class="title is-size-3 is-uppercase">
            Introduction
          </h1>
          <h2 class="subtitle is-size-4">
            <em>Read the editors' introduction</em>
          </h2>
        </article>
      </a>
    </div>
    {% for collection in site.collections %}
      {% if collection.docs.size > 0 %}
        {% include collection_block.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>
