@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

// overrides

$size-1: 4rem;

// custom

body {
  font-size: 135% !important;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.first-level-toc {
  padding: 5rem 1.5rem !important;
}

a:hover {
  opacity: 0.75;
}

.decorative-banner {
  height: 2.5rem;
  background-image: url('/assets/img/figures/aztec.svg');
  background-color: #ecd540;
}

article {
  p:first-child {
    text-indent: 2em;
    margin-bottom: 1em;
  }
  p + p {
    margin-bottom: 1em;
  }
  h2 + p {
    margin-bottom: 1em;
  }
}

.further-reading-container {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

figcaption {
  font-size: 1.1rem;
}

.footnote, .further-reading-ref {
  font-size: 1.2rem;
}

// media queries

@media screen and (max-width: 768px) {
  .title-banner .hero-body .container, .title-banner .hero-body .title-container {
    padding: 0 !important;
  }
  .content {
    margin: -2rem !important;
  }
}
