<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% if page.title != "Home" %}
      {% include header.html %}
    {% endif %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    {% if page.layout == "chapter" %}
    <!-- <script src="/assets/js/further-reading.js"></script> -->
    {% endif %}
  </body>
</html>
